<!doctype html>

<html>
<head>
	<title>About Me</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="icon" type="image/png" href="../favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="css/zxzdesigns.css">
      <link rel="stylesheet" type="text/css" href="css/icons.css">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <header class="hideHeader">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About&Contact</a></li>
    </ul>
  </header>
  <div id="main" class="about" tabindex="-1">
    <div class="splash" id="splashAbout">
      <section class="splashTitle">
        <h1>Rally for serve?</h1>
      </section>
    </div>

    <div id="content" class="container">
      <section class="aboutMe">
        <p class="large">
          I’m Zhen (/zen) and I currently live in San Francisco.
        </p>
        <p class="large">
          I love pushing pixels, designing products, improving my coding abilities and crafting everything from scratch. See my work on my portfolio.
        </p>
        <div class="center">
          <div class="grid-thirds">
            <p class="small note">
              <strong>UI/UX Designer</strong><br/>
              I create interfaces that are clean, efficient, and visually pleasing.
            </p>
          </div>
          <div class="grid-thirds">
            <p class="small note">
              <strong>Graphic Designer</strong><br/>
              I design graphics & icons to visually convey the meaning of the brand.
            </p>
          </div>
          <div class="grid-thirds">
            <p class="small note">
              <strong>Web Developer</strong><br/>
              I build custom web applications for local businesses and organizations.
            </p>
          </div>
        </div>
        <div class="center">
          <div class="grid-thirds">
            <p class="small note">
              <strong>UC Graduate</strong><br/>
              I have a B.S. in Human Computer Interaction (HCI) from UC San Diego.
            </p>
          </div>
          <div class="grid-thirds">
            <p class="small note">
              <strong>Ice-Cream Lover</strong><br/>
              I love all ice-cream. My current favorite flavor is Three Twins Lemon Cookie.
            </p>
          </div>
          <div class="grid-thirds">
            <p class="small note">
              <strong>Dog-Rescuer</strong><br/>
              I rescued two dogs from the shelter. Check them out on Instagram.
            </p>
          </div>
        </div>
        <p class="centerText">
          <a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy button">My Resume<span class="glyphicon glyphicon-new-window"></span></a>
        </p>
      </section>
    </div>
    <div class="container">
      <section class="contactMe">
        <h1>Contact Me</h1>
        <p class="centerText">
          I am currently working with a few local businesses and non-profitable organizations as a web application designer/developer, but I am seeking a full time role as a Graphic/UI/UX designer/developer. Please drop a line and say hi :)
        </p>
        <form class="container">
          <div class="center">
            <div class="grid-half">
              <div id="messageName">
                <input type="text" placeholder="Name">
                <span class="validation"></span>
              </div>
            </input>
            </div>
            <div class="grid-half">
              <div id="messageEmail">
                <input type="text" placeholder="E-mail">
                <span class="validation"></span>
              </div>
            </div>
          </div>
          <div class="center">
            <div id="messageContent">
              <textarea type="text" placeholder="Hello!"></textarea>
              <span class="validation"></span>
            </div>
          </div>
          <p class="centerText">
            <span id="error"></span><br>
            <a class="button" id="messageButton" href="javascript:sendMessage();">Send Message</a>
          </p>
        </form>
      </section>
    </div>
    <footer>
      <div>
        <div>
          <ul>
            <li class="title">MENU</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About & Contact</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title">MISCELLANEOUS</li>
            <li><a href="https://www.facebook.com/zhenxzheng" target="_blank" class="no-ajaxy">Facebook</a></li>
            <li><a href="https://twitter.com/zhenxzheng" target="_blank" class="no-ajaxy">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/zhenxzheng" target="_blank" class="no-ajaxy">LinkedIn</a></li>
            <li><a href="http://instagram.com/zhenito" target="_blank" class="no-ajaxy">Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div id="main2" tabindex="-1"></div>
 
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- jQuery ScrollTo Plugin -->
  <script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>

  <!-- History.js -->
  <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

  <!-- Ajaxify -->
  <script src="js/ajaxify.js"></script>
  <!-- <script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="js/mainscript.js"></script>
  <script src="js/about.js"></script>
</body>
</html>
