<!doctype html>

<html>
<head>
	<title>About Me</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="css/zxzdesigns.css">
      <link rel="stylesheet" type="text/css" href="css/icons.css">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <header class="hideHeader">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About&Contact</a></li>
    </ul>
  </header>
  <div id="main" class="about">
    <div class="splash" id="splashAbout">
      <section class="splashTitle">
        <h1>Hi, I'm Zhen</h1>
      </section>
    </div>

    <div id="content" class="container">
      <section class="aboutMe">
        <p class="large">
          Hi! I'm Zhen (/zen/) and I'm a Graphic/UI/UX designer. I have a passion for technology and product designing. I currently live in San Francisco and I recently completed my study on Human Computer Interaction at the University of California San Diego.
        </p>
        <div class="center">
          <div class="grid-half">
            <p class="small">
              I am interested in technology, and making things simpler and easier in life through technology interests me the most. My goal is to create and design products that will improve our daily problems via clean interfaces and simple interactions. I want to improve what we have right now, and design something better for the future. To complete my specialization in HCI, I opted to take computer science courses to improve my understanding of computer engineering. Therefore, one of my strengths as a designer is the ability to handle both front end and back end aspects of a project.
            </p>
          </div>

          <div class="grid-half">
            <p class="small">
              Before moving to San Francisco, I lived in a few different places: China for 12 years, Kamehameha Street in Honolulu, Hawaii for 4 months, Los Angeles for 6 years, and San Diego for 6 years. I am fluent in English, Cantonese, Mandarin, and one of the many Chinese Dialects. I am a huge dog-lover. I rescued two amazing dogs from the animal shelter: A Maltese mix named Pookie and a Sharpei mix named Penelope. I am a decent tennis player and an awesome Ping Pong player. I wanted to become a firefighter, so I have a certificate in Fire Protection Technology and I was a Nationally Registered EMT.
            </p>
          </div>
        </div>
        <p class="centerText">
          <a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy button">My Resume<span class="glyphicon glyphicon-new-window"></span></a>
        </p>
      </section>

      <section class="contactMe">
        <h1>Contact Me</h1>
        <p class="large">
          I am currently on vacation, but I am seeking a full time role as a Graphic/UI/UX designer/developer. Please drop a line and say hi :)
        </p>
        <form class="container">
          <div class="center">
            <div class="grid-half">
              <input type="text" placeholder="Name" id="messageName">
            </div>
            <div class="grid-half">
              <input type="text" placeholder="E-mail" id="messageEmail">
            </div>
          </div>
          <div class="center">
            <textarea type="text" placeholder="Hello!" id="messageContent"></textarea>
          </div>
          <p class="centerText">
            <a class="button" id="messageButton" href="javascript:sendMessage();">Send Message</a>
          </br><span id="sent"></span>
          </p>
        </form>
      </section>
    </div>
    <footer>
      <div>
        <div>
          <ul>
            <li class="title">MENU</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About & Contact</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title">MISCELLANEOUS</li>
            <li><a href="https://www.facebook.com/zhenxzheng" target="_blank" class="no-ajaxy">Facebook</a></li>
            <li><a href="https://twitter.com/zhenxzheng" target="_blank" class="no-ajaxy">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/zhenxzheng" target="_blank" class="no-ajaxy">LinkedIn</a></li>
            <li><a href="http://instagram.com/zhenito" target="_blank" class="no-ajaxy">Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div id="main2"></div>
 
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- jQuery ScrollTo Plugin -->
  <script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>

  <!-- History.js -->
  <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

  <!-- Ajaxify -->
  <script src="js/ajaxify.js"></script>
  <!-- <script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="js/mainscript.js"></script>
  <script src="js/about.js"></script>
</body>
</html>
