<!doctype html>

<html>
<head>
  <title>Contact Me | ZXZDesigns</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="../favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="css/zxzdesigns.css">
      <link rel="stylesheet" type="text/css" href="css/icons.css">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <nav class="hideNav">
    <div id="menu">
        <span class="menuline"></span>
        <span class="menuline"></span>
        <span class="menuline"></span>
    </div>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div id="main" class="about" tabindex="-1">
    <div class="splash" id="splashContact">
      <section class="splashTitle ease">
        <h1>Hello!</h1>
      </section>
      <div class="nextSection">
        <a href="javascript:scrollDown('.contactMe')">
          <span class="glyphicon glyphicon-chevron-down" id="downArrow"></span>
        </a>
      </div>
    </div>
    <div class="container">
      <section class="contactMe">
        <h1>Contact Me</h1>
        <p class="centerText bottom hideBottom">
          I am currently working with a few local businesses and non-profitable organizations as a web application designer/developer, but I am seeking a full time role as a Graphic/UI/UX designer/developer. Please drop a line and say hi :)
        </p>
        <form class="container bottom hideBottom">
          <div class="center">
            <div class="grid-half">
              <div id="messageName">
                <input type="text" placeholder="Name">
                <span class="validation"></span>
              </div>
            </input>
            </div>
            <div class="grid-half">
              <div id="messageEmail">
                <input type="text" placeholder="E-mail">
                <span class="validation"></span>
              </div>
            </div>
          </div>
          <div class="center">
            <div id="messageContent">
              <textarea type="text" placeholder="Hello!"></textarea>
              <span class="validation"></span>
            </div>
          </div>
          <p class="center">
            <span id="error"></span><br>
            <p class="center">
              <a class="button" id="messageButton" href="javascript:sendMessage();">Send Message</a>
            </p>
          </p>
        </form>
      </section>
    </div>
    <footer>
      <div>
        <div>
          <ul>
            <li class="title">MENU</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title">MISCELLANEOUS</li>
            <li><a href="https://www.facebook.com/zhenxzheng" target="_blank" class="no-ajaxy">Facebook</a></li>
            <li><a href="https://twitter.com/zhenxzheng" target="_blank" class="no-ajaxy">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/zhenxzheng" target="_blank" class="no-ajaxy">LinkedIn</a></li>
            <li><a href="http://instagram.com/zhenito" target="_blank" class="no-ajaxy">Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div id="main2" tabindex="-1"></div>
 
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- jQuery ScrollTo Plugin -->
  <script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>

  <!-- History.js -->
  <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

  <!-- Ajaxify -->
  <script src="js/ajaxify.js"></script>
  <!-- <script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="js/mainscript.js"></script>
  <script src="js/contact.js"></script>
</body>
</html>
