<!doctype html>

<html>
<head>
	<title>ZXZDesigns</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="icon" type="image/png" href="../favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
      <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
      <link rel="stylesheet" type="text/css" href="css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="css/zxzdesigns.css">
      <link rel="stylesheet" type="text/css" href="css/icons.css">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <nav class="hideNav">
    <div id="menu">
        <span class="menuline"></span>
        <span class="menuline"></span>
        <span class="menuline"></span>
    </div>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div id="main" class="home active" tabindex="-1">
    <div class="splash hasHighRes" id="splashHome" style="background-image: url('../HomeCover2.JPG')">
      <section class="splashTitle">
        <h2 id="line1" class="delay0 ease hideBottom">Hi, I'm Zhen</h2>
        <h2 id="line2" class="delay1 ease hideBottom">and I like to code & design</h2>
        <h2 id="line3" class="delay2 ease hideBottom">user experience</h2>
      </section>
      <div class="nextSection">
        <a href="javascript:scrollDown('.whatIdo')">
          <span class="glyphicon glyphicon-chevron-down" id="downArrow"></span>
        </a>
      </div>
    </div>
    <div id="content" class="container">
      <section class="whatIdo">
        <h2>Some of my projects</h2>
        <p>Design: Photoshop, Illustrator, Axure, Lucidchart</p>
        <p>Technical: HTML/CSS, Jade, MEAN (MongoDB, ExpressJS, AngularJS, NodeJS)
        <div class="container">
          <figure class="grid-thirds right hideRight delay0">
            <a href="/projects/ParknGo">
              <div class="bgImg" style="background-image:url('Project/PnGPreview.jpg')"></div>
              <figcaption class="ease">
                <h2>Park & Go</h2>
              </figcaption>
            </a>
          </figure>
          <figure class="grid-thirds right hideRight delay1">
            <a href="/projects/IconDesign">
              <div class="bgImg" style="background-image:url('Project/IconDesign/ActivityViz-basic.jpg')"></div>
              <figcaption class="ease">
                <h2>Icons & Logos</h2>
              </figcaption>
            </a>
          </figure>
          <figure class="grid-thirds right hideRight delay2">
            <a href="/projects/DancingTails">
              <div class="bgImg" style="background-image:url('Project/DancingTails/expert.png')"></div>
              <figcaption class="ease">
                <h2>User Task Flow</h2>
              </figcaption>
            </a>
          </figure>
          <figure class="grid-thirds right hideRight delay3">
            <a href="/projects/ActivityViz">
              <div class="bgImg" style="background-image:url('Project/ActivityViz/Cover.jpg')"></div>
              <figcaption class="ease">
                <h2>Activity Viz</h2>
              </figcaption>
            </a>
          </figure>
          <figure class="grid-thirds right hideRight delay4">
            <a href="/projects/SocialFitness">
              <div class="bgImg" style="background-image:url('Project/SocialFitness/AffinityDiagram2.jpg')"></div>
              <figcaption class="ease">
                <h2>Affinity Wall</h2>
              </figcaption>
            </a>
          </figure>
          <figure class="grid-thirds right hideRight delay5">
            <a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">
              <div class="bgImg" style="background-image:url('Project/ResumeDesign/Resume2014.jpg')"></div>
              <figcaption class="ease">
                <h2>Resume</h2>
              </figcaption>
            </a>
          </figure>
        </div>
        <p class="center">
          <a class="button" href="/projects">My Projects</a>
        </p>
      </section>
      <section class="aboutMe">
            <figure class="bottom hideBottom">
              <img src="Zhen.jpg">
            </figure>
            <p class="large bottom hideBottom">
              Hi! I'm Zhen (/zen/) and I'm a Graphic/UI/UX designer in San Francisco. I love pushing pixels, designing products, improving my coding abilities and crafting everything from scratch. See my work on my <a href="/projects">portfolio</a>. 
            </p>
        <p class="center"><a class="button" href="/about">About Me</a></p>
      </section>
    </div>

    <section class="splash" id="mutt">
      <p class="center">
        <a class="no-ajaxy button" href="https://instagram.com/zhenito/" target="_blank">Instagram</a>
      </p>
    </section>
    <footer>
      <div>
        <div>
          <ul>
            <li class="title">MENU</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title">MISCELLANEOUS</li>
            <li><a href="https://www.facebook.com/zhenxzheng" target="_blank" class="no-ajaxy">Facebook</a></li>
            <li><a href="https://twitter.com/zhenxzheng" target="_blank" class="no-ajaxy">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/zhenxzheng" target="_blank" class="no-ajaxy">LinkedIn</a></li>
            <li><a href="http://instagram.com/zhenito" target="_blank" class="no-ajaxy">Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div id="main2" tabindex="-1"></div>
 
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- jQuery ScrollTo Plugin -->
  <script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>

  <!-- History.js -->
  <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

  <!-- Ajaxify -->
  <script src="js/ajaxify.js"></script>
  <!-- <script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="js/mainscript.js"></script>
  <script src="js/home.js"></script>

  
</body>
</html>
