<!doctype html>

<html>
<head>
	<title>ZXZDesigns</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="css/zxzdesigns.css">
      <link rel="stylesheet" type="text/css" href="css/icons.css">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <header class="hideHeader">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About&Contact</a></li>
    </ul>
  </header>
  <div id="main" class="home">
    <div class="splash" id="splashHome">
      <section class="splashTitle">
<!--         <h1>ZhenX</h1>
        <h1>Zheng</h1>
        <span class="line"></span>
        <h2>[Portfolio]</h2> -->
        <h1 id="zxz" class="easeIn">ZXZ</h1>
        <span class="line cubicBezier"></span>
        <h2 id="designs" class="easeIn">Designs</h2>
      </section>
      <div class="nextSection">
        <a href="javascript:scrollDown()">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </div>
    </div>

    <div id="content" class="container">
      <section class="aboutMe">
        <figure>
          <img src="Zhen.jpg">
        </figure>
        <p class="large">
          Hi! I'm Zhen (/zen/) and I'm a Graphic/UI/UX designer. I have a passion for technology and product designing. I currently live in San Francisco and I recently completed my study on Human Computer Interaction at the University of California San Diego.
        </p>
        <p class="centerText"><a class="button" href="/about">About & Contact</a></p>
      </section>

      <section class="whatIdo">
        <h1>What I Do</h1>
        <div class="center">
          <div class="grid-thirds">
            <h2>Graphic</h2>
            <p class="small">
              Photoshop & Illustrator are no secret to me. My responsibility in a team often includes designing graphic & icons. Visual representation is more powerful & more universally conveying than words. Therefore, being able to manipulate graphics & images is very essential to product designing.
            </p>
          </div>

          <div class="grid-thirds">
            <h2>UX</h2>
            <p class="small">
              A product is more than just an idea. Even a billion-dollar idea will fail if its design is not user friendly or efficient. My key to success is to focus on the users & design all of the features around them. Some of the useful design rules that I have used are Heuristic Evaluation & Contextual Inqury.
            </p>
          </div>
          <div class="grid-thirds">
            <h2>Code</h2>
            <p class="small">
              What's the point of having a brilliant idea & a pixel-perfect design when you can't implement it? This was the biggest drawback for me as a designer. So I took coding courses to increase my understanding of computer science while I was studying HCI in UCSD. Now I can handle both front & back end.
            </p>
          </div>
        </div>
        <p class="centerText">
          <a class="button" href="/projects">My Projects</a>
        </p>
      </section>
    </div>
    <footer>
      <div>
        <div>
          <ul>
            <li class="title">MENU</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About & Contact</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title">MISCELANEOUS</li>
            <li><a href="https://www.facebook.com/zhenxzheng" target="_blank" class="no-ajaxy">Facebook</a></li>
            <li><a href="https://twitter.com/zhenxzheng" target="_blank" class="no-ajaxy">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/zhenxzheng" target="_blank" class="no-ajaxy">LinkedIn</a></li>
            <li><a href="http://instagram.com/zhenito" target="_blank" class="no-ajaxy">Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div id="main2"></div>
 
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- jQuery ScrollTo Plugin -->
  <script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>

  <!-- History.js -->
  <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

  <!-- Ajaxify -->
  <script src="js/ajaxify.js"></script>
  <!-- <script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="js/mainscript.js"></script>
  <script src="js/home.js"></script>
  
</body>
</html>
