<!doctype html>

<html>
<head>
  <title>Park & Go</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="../favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="../css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="../css/zxzdesigns.css">
      <link rel="stylesheet" type="text/css" href="../css/icons.css">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <header class="hideHeader">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </header>
  <div id="main" class="1" tabindex="-1">
    <div id="content" class="container">
      <section class="project">
        <h1>Park & Go</h1>
        <p class="centerText">
          Park & Go is a mobile/web parking payment application that aims to shorten user's time on a parking lot so that they can get to where they need to be faster. 
        </p>
        <div>
          <div>
            <img src="../Project/ParknGo/ParknGo-Main.jpg">
          </div>
        </div>
        <div class="center">
          <div class="grid-half">
            <p class="small panel">
              <strong>MAIN TOOLS</strong>
              <br>
              Javascript | HTML | Bootstrap | Github | PhotoShop
            </p>
          </div>
          <div class="grid-half">
            <img src="../Project/ParknGo/ParknGo-ParkingLotInfo.jpg">
          </div>
        </div>
        <div class="center">
          <div class="grid-half">
            <img src="../Project/ParknGo/ParknGo-Main-Register.jpg">
          </div>
          <div class="grid-half">
            <img src="../Project/ParknGo/ParknGo-Main-SignIn.jpg">
          </div>
        </div>
        <div class="center">
          <p class="small note panel">
            <strong>WHAT/WHY</strong>
            <br>
            If you've been to UCSD, you'd already know that parking on campus is terrible. Either you are circling around the parking lot or campus for an hour trying to find a parking space, or waiting in line for that super slow machine to take everyone's payment and print a permit, almost everyone is spending more time than they should be inside those parking lots.
            <br>
            <br>
            Overall, we are looking at 2 problems that we need to solve here: 1. to reduce time for finding a parking space; 2. to reduce time for lining up to pay.
          </p>
        </div>
        <div>
          <div>
            <img src="../Project/ParknGo/Storyboard-1.jpg">
          </div>
        </div>
        <div class="center">
          <div class="grid-half">
            <p class="small panel">
              <strong>STORYBOARDS:</strong>
              <br>
              To present & focus on the main issues, and the potential benefits that the application can bring.
            </p>
          </div>
          <div class="grid-half">
            <img src="../Project/ParknGo/Storyboard-3.jpg">
          </div>
        </div>
        <div>
          <div>
            <img src="../Project/ParknGo/Storyboard-2.jpg">
          </div>
        </div>
        <div class="center">
          <p class="small note panel">
            Due to assignment preference, only the front-end desktop web application was developed. However, a mobile version and future plan for this idea will be dicussed later.
          </p>
        </div>
        <div class="center">
          <div class="grid-half">
            <img src="../Project/ParknGo/PaperPrototypeMain.JPG">
          </div>
          <div class="grid-half">
            <img src="../Project/ParknGo/PaperPrototypeParkingLot.JPG">
          </div>
        </div>
        <div class="center">
          <div class="grid-half">
            <img src="../Project/ParknGo/PaperPrototypeMainRegister.JPG">
          </div>
          <div class="grid-half">
            <img src="../Project/ParknGo/PaperPrototypeMainSignIn.JPG">
          </div>
        </div>
        <div class="center">
          <img src="../Project/ParknGo/MobileDesignIdea.JPG">
        </div>
        <div class="center">
          <div class="grid-thirds">
            <p class="small note panel">
              <strong>Future Idea 1</strong>
              <br>
              Associate a particular car with an unique QR code. Scan and store information under your account. Make payment via the application on a chosen car. Metermaid scans car QR code to check car parking permit status. Authority personels scans QR code to alert user via application if necessary
            </p>
          </div>
          <div class="grid-thirds">
            <p class="small note panel">
              <strong>Future Idea 2</strong>
              <br>
              Number each parking space (Treat the parking lot as an array). Park and specify which parking lot and parking space to pay for. The inputted parking lot location will pull up the rate of that parking lot. The inputted space number allows the system to generate a parking lot map to dynamically display the availability of each individual parking space. Metermaids will use that map to check which car should not be in the parking lot/expired permit.
            </p>
          </div>
          <div class="grid-thirds">
            <p class="small note panel">
              <strong>Future Idea 3</strong>
              <br>
              Same as idea 2 but instead of paying for a set rate, treat the space as a hotel room. Check in first then pay when you leave. This allows users to pay for their entire staying. No more overpay or underpay. HOWEVER, this requires users to check out of the space to stop the timer/payment, which people may forget.
            </p>          
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div>
        <div>
          <ul>
            <li class="title">MENU</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title">MISCELLANEOUS</li>
            <li><a href="https://www.facebook.com/zhenxzheng" target="_blank" class="no-ajaxy">Facebook</a></li>
            <li><a href="https://twitter.com/zhenxzheng" target="_blank" class="no-ajaxy">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/zhenxzheng" target="_blank" class="no-ajaxy">LinkedIn</a></li>
            <li><a href="http://instagram.com/zhenito" target="_blank" class="no-ajaxy">Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <div id="main2" tabindex="-1"></div>
  
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- jQuery ScrollTo Plugin -->
  <script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>

  <!-- History.js -->
  <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

  <!-- Ajaxify -->
  <script src="../js/ajaxify.js"></script>
  <!-- <script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="../js/mainscript.js"></script>
  <script src="../js/default.js"></script>
</body>
</html>