<!doctype html>

<html>
<head>
  <title>Social Fitness</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="../favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="../css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="../css/zxzdesigns.css">
      <link rel="stylesheet" type="text/css" href="../css/icons.css">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <header class="hideHeader">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About&Contact</a></li>
    </ul>
  </header>
  <div id="main" class="1">
    <div id="content" class="container">
      <section class="project">
        <h1>Social Fitness</h1>
        <p class="large">
          Social Fitness is a rapid contextual user-centered design web application that simplifies fitness event planning. 
        </p>
        <div>
          <div>
            <img src="../Project/SocialFitness/AffinityDiagram.png">
          </div>
        </div>
        <div class="center">
          <div class="grid-half">
            <p class="small">
              <strong>MAIN TOOLS</strong>
              <br>
               Contextual Inqury | HTML | Axure | Lucidchart | PhotoShop
            </p>
          </div>
          <div class="grid-half">
            <img src="../Project/SocialFitness/AffinityDiagram2.jpg">
          </div>
        </div>
        <div>
          <div>
            <img src="../Project/SocialFitness/AffinityDiagram3.png">
          </div>
        </div>
        <div class="center">
          <p class="small note">
            <strong>WHAT/WHY</strong>
            <br>
            Fitness event planning can become very hectic and unreliable because there are many differences in the process of planning and winthin a user. There are many different communication/coordinating methods such as Facebook, Google Chat, text, etc. In addition, the variable of a person greatly contributes to this planning process such as the different level of skills and commitment. 
          </p>
        </div>
        <div class="center">
          <div class="grid-half">
            <img src="../Project/SocialFitness/FollowersOriginal.JPG">
          </div>
          <div class="grid-half">
            <img src="../Project/SocialFitness/FollowersStoryboard.jpg">
          </div>
        </div>
        <div class="center">
          <div class="grid-half">
            <img src="../Project/SocialFitness/InitiatorsOriginal.JPG">
          </div>
          <div class="grid-half">
            <img src="../Project/SocialFitness/InitiatorsStoryboard.jpg">
          </div>
        </div>
        <div class="center">
          <div class="grid-half">
            <img src="../Project/SocialFitness/wireframePrototype.png">
          </div>
          <div class="grid-half">
            <img src="../Project/SocialFitness/wireframePrototype.png">
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div>
        <div>
          <ul>
            <li class="title">MENU</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About & Contact</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title">MISCELLANEOUS</li>
            <li><a href="https://www.facebook.com/zhenxzheng" target="_blank" class="no-ajaxy">Facebook</a></li>
            <li><a href="https://twitter.com/zhenxzheng" target="_blank" class="no-ajaxy">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/zhenxzheng" target="_blank" class="no-ajaxy">LinkedIn</a></li>
            <li><a href="http://instagram.com/zhenito" target="_blank" class="no-ajaxy">Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <div id="main2"></div>
  
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- jQuery ScrollTo Plugin -->
  <script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>

  <!-- History.js -->
  <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

  <!-- Ajaxify -->
  <script src="../js/ajaxify.js"></script>
  <!-- <script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="../js/mainscript.js"></script>
  <script src="../js/default.js"></script>
</body>
</html>
