html,body{
	background-color:#fff;
	-webkit-overflow-scrolling:touch;
	/*position:relative;*/
}
body{
	font-size:94%;
	line-height: 1em;
	color:#333;
	font-family: "lato", sans-serif;
	font-weight:400;
	width:100%;
	overflow:hidden !important; /*hides 2nd main*/
	position:relative;
}
h1{
	font-size:2.5em;
	text-transform:uppercase;
	text-align:center;
	font-weight:900;
	color:#333;
	line-height:1em;
	margin-bottom:0.3em;
	letter-spacing:0.11em;
}
h2{
	font-size:1.5em;
	text-transform:uppercase;
	text-align:left;
	font-weight:700;
	line-height: 1em;
	color:#333;
	margin-bottom:1em;
}
h3{
	font-size:1em;
	text-transform: uppercase;
	font-weight:700;
	text-align: left;
	margin:1em 0;
}
*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:1em;
	line-height:1.3em;
}
p.large{
	width:100%;
	font-size:1.25em;
	text-align:center;
}
a{
	color:#333;
	text-decoration:none;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
p a{
	padding-bottom:0.03em;
	border:solid 1px transparent;
	border-bottom:dotted 1px #777;
}
p a:hover{
	border-bottom:solid 1px #777;
}
.mobileMode p a:hover{
	border-bottom:inherit;
}
.container{
	width:88%;
	max-width:1320px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden !important;
	padding-top:4.3em;
	*zoom:1;
}
.container .container{
	padding-top:1em;
	width:100%;
}
.center{
	text-align: center;
}
figure{
	position:relative;
	overflow:hidden;
	line-height:0;
}
.whatIdo figure a{
	width:100%;
	height:200px;
}
.whatIdo figure a:before, .projects figure a:before{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	opacity:0.01;
	background:black;
	content:'';
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.whatIdo figure a:hover:before, .projects figure a:hover:before{
	opacity:0.5;
}
/*.mobileMode .whatIdo figure a:hover:before, .mobileMode .whatIdo figure a:hover:before{
	opacity:0;
}*/
figcaption{
	position:absolute;
	left:0;
	bottom:0;
	color:white;
}

figcaption a{
	color:white;
	text-decoration: none;
	border-bottom:dotted 1px white;
	margin-right:1em;
}
figcaption h2{
	color:white;
	margin:0;
	background:#333;
	font-size:1em;
	padding:0.5em;
}
form.container{
	width:100%;
}
.grid-half, .grid-thirds{
	width:100%;
	display:inline-block; 
	margin-bottom:0.5em;
	position:relative;
	vertical-align: top;
	float:left;
	line-height: 0;
}
.projects .bgImg{
	height:100%;
}
strong{
	font-weight:900;
}
.menuline{
	position:absolute;
	top:7px;
	display:block;
	width:20px;
	height:2px;
	background:black;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.menuline:first-child{
	top:0;
}
.menuline:last-child{
	top:14px;
}
.combined{
	top:7px !important;
}
.angle1{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.angle2{
	-webkit-transform: rotate(-45deg) !important;
	-moz-transform: rotate(-45deg) !important;
	-ms-transform: rotate(-45deg) !important;
	-o-transform: rotate(-45deg) !important;
}
.whiteBG{
	background-color:white;
}
.darkBG{
	background-color:#333;
}
.white{
	color:white;
}
.dark{
	color:#333;
}
nav{
	width:100%;
	background:white;
	position:fixed;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
	z-index:4;
}
.full{
	width:100%;
}
.whiteNav{
	background:white !important;
	color:#333;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
}
.darkNav{
	background:#333 !important;
	color:white;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
}
nav ul{
	height:0;
	text-align:center;
	margin:0 1em;
	line-height:50px;
	overflow:hidden;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#menu{
	position:relative;
	width:20px;
	height:16px;
	cursor:pointer;
	margin:1em 2em;
}
nav ul li{
	display:block;
	font-size:12px;
	vertical-align: middle;
	position:relative;
}
nav ul li a{
	color:inherit;
	text-decoration: none;
	padding:10px 0 0 0;
	border-bottom:solid 1px transparent;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
nav ul li a:hover{
	border-bottom: solid 1px;
	padding-bottom:7px;
}
.hideNav{
	-ms-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
	top: -100px;
}
.showNav{
	-ms-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
	top: 0px;
}
#main,#main2{
	position:absolute;
	background:#fff;
	width:100%;
	margin:0;
	overflow:auto;
	display:block;
	opacity:0;
}
#splashAbout{
	background-image: url("../PingPong.jpg");
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center center;
	background-attachment:normal;
	text-align: center;
	position:relative;
}
#splashContact{
	background-image: url("../contactCover.jpg");
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center center;
	background-attachment:normal;
	text-align: center;
	position:relative;
}
#splashHome{
	position:relative;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center center;
	background-attachment:normal;
	overflow:hidden;
}
.splash:before{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:black;
	opacity:0.5;
	content:'';
}
#splashAbout .splashTitle{
	left:auto;
	top:auto;
	bottom:50%;
	width:52%;
	right:5%;
	-webkit-transform: translate(0%, 50%);
	-moz-transform: translate(0%, 50%);
	-ms-transform: translate(0%, 50%);
	-o-transform: translate(0%, 50%);
}
#splashContact .splashTitle{
	opacity:0;
}
.splashTitle h1{
	color:#fff;
	font-size:4.57em;
	font-size:7.5vw;
}
.splashTitle h2{
	color:#fff;
	font-size:4.57em;
	font-size:7.5vw;
	margin-bottom:0;
	line-height:1em;
	text-align:center;
}
.bar{
	background:#eee;
	height:0.2em;
	display:block;
	margin:0 auto;
	width:50px;
	opacity:1;
}
#line1,#line2,#line3{
	position:relative;
	bottom:0;
	line-height: 1.2em;
}
#line1{
	font-size:3.85em !important;
	font-size:5.5vw !important;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
#line2{
	font-size:1.59em !important;
	font-size:2.2vw !important;
	-moz-transition-delay: .08s;
	-o-transition-delay: .08s;
	-webkit-transition-delay: .08s;
	transition-delay: .08s;
}
#line3{
	font-size:3.05em !important;
	font-size:5vw !important;
	-moz-transition-delay: .16s;
	-o-transition-delay: .16s;
	-webkit-transition-delay: .16s;
	transition-delay: .16s;
}

#mutt{
	background: url("../Penelope.jpg");
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center left;
	text-align: center;
	position:relative;
	background-attachment:normal;
}
#mutt p a{
	position:absolute;
	left:50%;
	bottom:13%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
#mutt .button{
	color:#fff;
	border-color:#fff;
}
#mutt .button:hover{
	background:#fff;
	color:#000;
}
.splashTitle{
	position: absolute;
	display:inline-block;
	text-align:center;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.panel{
	max-width:300px;
	padding:20px;
	margin:20px auto;
	border-bottom:solid 1px #eee;
}
.panel:last-child{
	border-bottom:none;
}


.contactMe h1, .projects h1, .project h1{
	margin-bottom:0.7em;
}
.project a.button{
	margin:1em 0;
}
.project figure{
	margin:1em 0;
	padding:0.5em;
	border:solid 1px #eee;
}
.whatIdo{
	margin-bottom:6em;
}
.aboutMe, .contactMe{
	margin-bottom:3em;
}
.aboutMe h2{
	text-align: center;
}
.whatIdo:after, .contactMe:after, .about .aboutMe:after{
	content:"";
	position:absolute;
	left:0;
	right:0;
	width:100%;
	height:2px;
	background:#eaeaea;
	margin-top:3em;
}
.home .aboutMe figure{
	width: 200px;
    height: 200px;
    margin: 2em auto;
    border-radius: 100px;
    border: solid 3px #eaeaea;
}
.home .aboutMe img{
    position: absolute;
    height: 100%;
    max-width: none;
    transform: translate(-50%, 0%);
    left: 50%;
}
.whatIdo h2{
	text-align:center;
}
.whatIdo figure{
	display:inline-block;
	line-height:0;
	height:200px;
	float:left;
}
.bgImg{
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center center;
}
.category{
	display:inline-block;
	margin:0;
	margin-bottom:1em;
	padding:20px 0;
	border-top:solid 1px #eee;
	border-bottom:solid 1px #eee;
}
.category li{
	display:inline-block;
	margin-right:10px;
}
.category li h2{
	border:solid 1px transparent;
	font-size:1em;
	margin:0;
	color:#777;
	padding:5px;
	cursor:pointer;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.category li h2:hover{
	border: solid 1px;
}
.categoryActive{
	color:black !important;
	border:solid 1px !important;
}
ul{
	list-style: none;
	text-align:center;
	margin:4em auto;
}
.centerText{
	text-align:center;
	margin-bottom:2em;
	width:80%;
}
.center:before{
	display:table;
	content:'';
	clear:both;
}
.graphic{
	text-align:center;
}
.ux p, .code p , .graphic p{
	text-align:left;
	padding-left:20px;
	margin-bottom:2em;
	border-left:solid 1px #eee;
}
.asideActive{
	display:block;
}
.projectDetails{
	opacity:0;
	overflow: hidden;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
aside{
	display:none;
}
aside:before{
	clear:both;
	display:table;
	content:"";
}
a.button{
	border: 1px solid #bdc3c7;
	padding:15px 30px;
	margin-top:2em;
	font-size: 14px;
	text-transform:uppercase;
	letter-spacing:0.2em;
	text-decoration:none;
	color:#373737;
	display:inline-block;
}
a.button:hover{
	background:#373737;
	color:#fff;
}
footer ul li{
	font-size:14px;
	line-height:37px;
}
footer ul li.title{
	font-size:15px;
	font-weight:900;
	color:#777;
	margin-top:10px;
	margin-bottom:10px;
}
footer ul li a{
	text-decoration:none;
	border-bottom: solid 1px transparent;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
footer ul li a:hover{
	border-bottom: solid 1px;
	padding-bottom:5px;
}

p.demoNote{
	color:#999;
	font-style:italic;
}
@media screen and (min-width: 500px) {
	body {
		font-size: 100%
	}
	.panel{
		max-width:430px;
	}
	#bio .grid-thirds{
		height:12em;
	}
	.grid-thirds, .grid-half{
		width:49.25%;
		margin-right:1.5%;
	}
	.grid-thirds:nth-child(2n){
		margin-right:0;
	}
	.projects .grid-half{
		width:49.25%;
		margin-right:1.5%;
		margin-bottom:0;
	}
	.projects .grid-half:nth-child(2n){
		margin-right:0;
	}
	.projects .grid-thirds, .projects .grid-thirds:nth-child(2n){
		width:32.3333333%;
		margin-right: 1.5%;
		margin-bottom:0;
	}
	.projects .grid-thirds:nth-child(3n){
		margin-right: 0;
	}
	.project figure{
		padding:0em;
		border:none;
	}
	form.container{
		width:70% !important;
	}
	form .grid-half{
		width:48%;
		margin-right:4%;
		margin-bottom:0;
	}
	form textarea{
		margin-top:4%;
	}
}
@media screen and (min-width: 700px) {
	body {
		font-size: 112.5%;
	}
	h2{
		font-size: 1.7em;
	}
	.panel{
		max-width: 470px;
	}
	#bio .grid-thirds{
		height:24vw;
	}
	.grid-thirds,.grid-thirds:nth-child(2n){
		width: 32.333333333%;
		margin-right:1.5%;
	}
	.grid-thirds:nth-child(3n){
		margin-right: 0;
	}
	/*body h1 {
		font-size:7vw;
	}
 	.home #splashHome .splashTitle h1{
		font-size: 15vw;
	}
	.home #splashHome .splashTitle h2{
		font-size: 7.5vw;
	}
	p.small{
		margin-bottom:2em;
		font-size:0.8em;
		line-height:1.5em;
	}
	p.demoNote{
		margin:0 auto !important;
		width:100%;
	}*/
}

@media screen and (min-width: 900px){
	body{
		font-size:140%;
	}
	h1, h2{
		letter-spacing: 0.1em;
	}
	.splashTitle h2, .splashTitle h1{
		letter-spacing: 0;
	}
	.panel{
		max-width: 580px;
	}
	.aboutMe > .panel{
		max-width:80%;
	}
	#bio .grid-thirds{
		height:9em;
	}
	.grid-thirds,.grid-thirds:nth-child(2n){
		width: 32.333333333%;
		margin-right:1.5%;
	}
	.grid-thirds:nth-child(3n){
		margin-right: 0;
	}
	.small{
		font-size:0.7em;
	}

/*	body h1{
		margin-bottom:0.6em;
		font-size:3em;
		font-size:5vw;
		letter-spacing:0.22em;
	}
	.splashTitle h1{
		letter-spacing:0.04em;
		font-size:7vw;
	}
	body h2, body p{
		margin-left:auto;
		margin-right:auto;
		text-align:left;
	}
	body p.small,
	body h2.small{
		margin-bottom:4.28em;
		font-size:0.75em;
		line-height: 2.333333;
		text-align:left;
	}
	.center{
		display: -moz-box;
	    display: -webkit-box;
	    display: box;
	    /*newer flexbox*/
/*	    display: -webkit-flex;
	    display: flex;
	}
	.container{
		padding-top:3.3em;
	}
	.grid-half{
		width:45.4545455%;
		margin-right:9.09090909%;
		margin-top: auto !important;
		margin-bottom: auto !important;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -moz-box;
		display:box;
		-moz-box-orient: vertical;
	    -webkit-box-orient: vertical;
	    box-orient: vertical;
	    -moz-box-pack: center;
	    -webkit-box-pack: center;
	    box-pack: center;
	}
	.grid-thirds{
		width: 27.2727273%;
	    margin-right: 9.09090909%;
	    margin-top: auto !important;
	    margin-bottom: auto !important;
	    display: -moz-box;
	    display: -webkit-box;
	    display: box;
	    -moz-box-orient: vertical;
	    -webkit-box-orient: vertical;
	    box-orient: vertical;
	    -moz-box-pack: center;
	    -webkit-box-pack: center;
	    box-pack: center;
	}
	.grid-fourths{
		width: 20%;
	    margin-right: 9.09090909%;
	    margin-top: auto !important;
	    margin-bottom: auto !important;
	    display: -moz-box;
	    display: -webkit-box;
	    display: box;
	    -moz-box-orient: vertical;
	    -webkit-box-orient: vertical;
	    box-orient: vertical;
	    -moz-box-pack: center;
	    -webkit-box-pack: center;
	    box-pack: center;
	}
	a.button{
		padding: 15px 50px;
	}
	.projects .grid-thirds{
		width:30%;
		margin-right:5%;
		margin-top:0 !important;
	}
	.projects .grid-thirds img,.projects .grid-half img{
		margin-bottom:1em;
	}
	.projects .grid-half img{
		max-width:100% !important;
	}
*/	
	.project img{
		line-height:0;
		margin:0;
	}
	.project .grid-half{
		width:50%;
		margin:0;
	}
	.project figure{
		margin:0;
	}
/*	.project p.small{
		margin:0;
		padding:0 5em;
	}
	.project .grid-half p.small{
		margin:0;
		padding:0 1em;
	}
	.project .container{
		padding-top:0;
	}
		p.note{
		padding:1em 0 !important;
	}*/
}
@media screen and (min-width:960px){
	.container{
		width:80%;
	}
	nav{
		width:auto;
		background:transparent;
		box-shadow:none;
	}
}
@media screen and (min-width:1250px){
	.container{
		width:84%;
	}
}

form input,
form textarea{
	width:100%;
	padding:10px 45px 10px 20px;
	font-size:20px;
	line-height:1.3em;
	border: solid #777 1px;
}
form textarea{
	height:200px;
	max-width:100%;
}
form input:focus,
form textarea:focus{
	outline:none!important;
	padding:8px 43px 8px 18px;
	border:solid 3px #5c210e;
}
#messageName, #messageEmail, #messageContent{
	position:relative;
	width:100%;
}
.validation{
	position:absolute !important;
	right:20px;
	top:50% !important;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}
.red{
	color:red;
}
.green{
	color:green;
}
#sent:hover{
	background-color:white !important;
}
.grid-half:nth-child(2n){
	margin-right:0;
}
.imagehover{
	width:25%;
	color:white;
	background:#373737;
	position:absolute;
	margin:auto 0;
	padding:1%;
	text-align:center;
}

.projects a{
	border:none;
}
/*  <section class="svg-container">
    <object type="image/svg+xml" data="images/ShenLongFaceSVG.svg" width="100%" height="100%" class="svg-content"></object>
  </section>
.svg-container {
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 100%;
vertical-align: middle;
overflow: hidden;
}

.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
}*/
.bottom{
	bottom:0;
	-ms-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.top{
	top:0;
	-ms-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.left{
	left:0;
	-ms-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.right{
	right:0;
	-ms-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.scale{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-ms-transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
	-webkit-transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
	-moz-transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
	-o-transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
	transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
}
.hideBottom{
	bottom:-50px !important;
	opacity:0 !important;
}
.hideTop{
	top: -50px !important;
	opacity: 0 !important;
}
.hideLeft{
	left: -50px !important;
	opacity: 0 !important;
}
.hideRight{
	right: -50px !important;
	opacity: 0 !important;
}
.scaleHide{
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-ms-transform: scale(0.2);
	-o-transform: scale(0.2);
	transform: scale(0.2);
	opacity:0;
}
.ease{
	-ms-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.easein{
	-ms-transition: all 0.8s ease-in;
	-webkit-transition: all 0.8s ease-in;
	-moz-transition: all 0.8s ease-in;
	-o-transition: all 0.8s ease-in;
	transition: all 0.8s ease-in;
}
.easeout{
	-ms-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
}

.cubicBezier{
	-ms-transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
	-webkit-transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
	-moz-transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
	-o-transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
	transition: all 0.8s cubic-bezier(0,1.5,0.5,1);
}
.delay0{
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.delay1{
	-moz-transition-delay: .08s;
	-o-transition-delay: .08s;
	-webkit-transition-delay: .08s;
	transition-delay: .08s;
}
.delay2{
	-moz-transition-delay: .16s;
	-o-transition-delay: .16s;
	-webkit-transition-delay: .16s;
	transition-delay: .16s;
}
.delay3{
	-moz-transition-delay: .24s;
	-o-transition-delay: .24s;
	-webkit-transition-delay: .24s;
	transition-delay: .24s;
}
.delay4{
	-moz-transition-delay: .32s;
	-o-transition-delay: .32s;
	-webkit-transition-delay: .32s;
	transition-delay: .32s;
}
.delay5{
	-moz-transition-delay: .40s;
	-o-transition-delay: .40s;
	-webkit-transition-delay: .40s;
	transition-delay: .40s;
}
.goaway {
	-ms-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-moz-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
/*	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);*/
	opacity: 0.3 !important;
	z-index: 1;
	overflow: hidden;
}

.comein {
	-ms-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
	-moz-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
	-ms-transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	z-index: 2;
	overflow: hidden;
}
.active{
	-ms-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	z-index:2;
}
.inactive{
	-ms-transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	opacity: 0;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	z-index: 1;
}
#splashAbout .hideBottom{
	bottom:45% !important;
	opacity:0;
}
.innerShadow{
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}
.nextSection{
	position:relative;
	text-align:center;
	top:110%;
	padding:0 0 1em 0;
	color:white;
	-ms-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.nextSection a{
	color:#fff;
}
#downArrow{
	padding:0.5em;
	-ms-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
#downArrow:hover{
	-webkit-animation: nextArrow 0.5s infinite; /* Chrome, Safari, Opera */
    animation: nextArrow 0.5s infinite;
}
@-webkit-keyframes nextArrow {
    from {padding-top: 0.5em;}
    to {padding-top:1em;}
}
@keyframes nextArrow {
    from {padding-top: 0.5em;}
    to {padding-top:1em;}
}
#error{
	color:red;
	opacity:0;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.grid1{
	height:2.75em;
	margin-bottom:1em;
}
.grid2{
	height:6.5em;
	margin-bottom:1em;
}
.grid3{
	height:10.25em;
	margin-bottom:1em;
}
.grid4{
	height:14em;
	margin-bottom:1em;
}
.grid5{
	height:17.75em;
	margin-bottom:1em;
}
.grid6{
	height:21.5em;
	margin-bottom:1em;
}
.grid7{
	height:25.25em;
	margin-bottom:1em;
}
.grid8{
	height:29em;
	margin-bottom:1em;
}

@-webkit-keyframes webkit-spin {
  from {
    -webkit-transform: scale(1) rorate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(359deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-icon {
	position:absolute !important;
	left:50%;
	top:20%;
  -o-animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -moz-animation: spin .7s infinite linear;
  -webkit-animation: webkit-spin .7s infinite linear;
}